body {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.nav {
    background-color: #20232a;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    height: 90px;
    
}


.logo {
    margin-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
       

    color: wheat;
    font-size: 20px;
}
}

.auth {
        display: flex;
        align-items: center;
        justify-content: center;
    a {        
        span {
            color: white;
            font-size: 20px;
            font-weight: bold;
            &:hover{
                color: #61dafb;
        }
    }
    }
}
nav {
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        ul {

            display: flex;

            list-style-type: none;
        
    }
    li {
        padding: 20px 20px;
        a {
            color: white;
            font-weight: lighter;
            padding-bottom: 5px;
            &:hover{
                color: #61dafb;
                border-bottom: 3px solid white;
            }

        }
    }
}

.head {
    // background-color: #282c34;
    img {
        display: block;
        height: auto;
        width: auto;
        // max-width:1024px;
        max-height:395px;
    }
}
footer {
    display: grid;
    grid-template-rows: .2fr 1fr .1fr;
}
.newsletter {
    background-color: #282c34;
    display: grid;
    grid-template-columns: 1fr 1fr;
.slog {
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
        > div {
            text-align: center;
        }
    }
.but {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        button {
            color: white;
            background-color: #1a2f5e;
            border-radius: 50px;
            border: 0;
            padding:20px;
            font-weight: 800;
            font-size: 20px;
            &:hover{
                background-color: #27292e;
            }

        }
        
    }
}
.text {
    color: white;
}
.text-bold {
    font-weight: 900;
    font-size: larger;
    font-size: 35px;

}
.text-light {
    font-size: 20px;
    
}
.foot-grid {
    display: grid;
    height: 30rem;
    background-color: #20232a;
    grid-template-columns: 1fr 1fr 1fr;
    
    // grid-template-columns: repeat(auto-fill,minmax(360px, 1fr)); 
    .grids {
        border: 1px green solid;
    }
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
}