body {
    margin: 0;
    padding: 0;
}
html,body {
    height:100%;
}
a{
    text-decoration: none;
}

.nav {
    border-bottom: 2px red solid;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    // height: 70px;
    
}


.logo {
    // margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
       

    color: black;
    font-size: 20px;
}
}

.auth {
        display: flex;
        align-items: center;
        justify-content: center;
    a {        
        span {
            color: black;
            font-size: 20px;
            font-weight: bold;
            &:hover{
                color: #61dafb;
        }
    }
    }
}
nav {
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        ul {

            display: flex;

            list-style-type: none;
            height: inherit;
        
    }
    li {
        padding: 0 2px;
        // &:last-child{
        //     border-right: 1px wheat solid;

        // }
        a {
            height: inherit;
            color: black;
            // border: 1px green solid;
            font-weight: bold;
            padding: 28px;
            &:hover{
                color: #1f0e0e;
                border-bottom: 4px solid white;
                background-color: rgb(161, 97, 97);
            }

        }
    }
}
.onLink{
    color: #1f0e0e;
    border-bottom: 4px solid white;
    background-color: rgb(161, 97, 97);
}
.head {
    // background-color: #282c34;
    img {
        display: block;
        height: auto;
        width: auto;
        // max-width:1024px;
        max-height:395px;
    }
}
footer {
    display: grid;
    grid-template-rows: .2fr 1fr .1fr;
    margin-bottom: -50px;
}
.newsletter {
    background-color: #cfd3db;
    display: grid;
    grid-template-columns: 1fr 1fr;
.slog {
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
        > div {
            text-align: center;
        }
    }
.but {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        button {
            color: white;
            background-color: #1a2f5e;
            border-radius: 50px;
            border: 0;
            padding:20px;
            font-weight: 800;
            font-size: 20px;
            &:hover{
                background-color: #27292e;
                cursor: pointer;
            }

        }
        
    }
}
.text {
    color: white;
}
.text-bold {
    font-weight: 900;
    font-size: larger;
    font-size: 35px;

}
.text-light {
    font-size: 20px;
    
}
.foot-grid {
    display: grid;
    height: 32rem;
    background-color: #34333f;
    grid-template-columns: 1fr 1fr 1fr;
    
    // grid-template-columns: repeat(auto-fill,minmax(360px, 1fr)); 
    .grids {
        // border: 1px green solid;
        margin: 10px;
        color: white;
    }
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
}
.contact {
    form {
        display: grid;
        input {
            &[type="submit"] {
                background-color: #1a2f5e;
                border-radius: 10px;
                border: 0;
                margin-top: 20px;
                width: 15vw;
                height: 50px;
                &:hover, &:focus {
                    cursor: pointer;    
                    outline: none;
                    background-color: #27292e;
                    box-shadow: 0 4px 8px 0 rgba(16, 22, 49, 0.432), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
        }
        label {
            div {
                margin-bottom: 5px;
                font-weight: 100;
                font-size: 20px;
                color: #ffffff;
                span {
                    color: red;
                }
            }
            input{
                border-radius: 10px;
                border: 0;
                margin-bottom: 10px;
                width: 22vw;
                height: 45px;
                font-size: 20px;
                padding: 0 12px;
                &:focus {
                    outline: none;
                    background-color: #b2bbcc;
                }
            }
        }
    }
}
.textarea {
    resize: none;
    border: 0;
    &:focus {
        outline: none;
        background-color: #b2bbcc;
    }

}
.logo-img {
    margin-top: 2px;
    width:4rem;
    height:70px;
}