body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav {
  background-color: #20232a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .5fr 1fr .5fr;
      grid-template-columns: .5fr 1fr .5fr;
  height: 90px;
}

.logo {
  margin-left: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logo a {
  color: wheat;
  font-size: 20px;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth a span {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.auth a span:hover {
  color: #61dafb;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav li {
  padding: 20px 20px;
}

nav li a {
  color: white;
  font-weight: lighter;
  padding-bottom: 5px;
}

nav li a:hover {
  color: #61dafb;
  border-bottom: 3px solid white;
}

.head img {
  display: block;
  height: auto;
  width: auto;
  max-height: 395px;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .2fr 1fr .1fr;
      grid-template-rows: .2fr 1fr .1fr;
}

.newsletter {
  background-color: #282c34;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.newsletter .slog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}

.newsletter .slog > div {
  text-align: center;
}

.newsletter .but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.newsletter .but button {
  color: white;
  background-color: #1a2f5e;
  border-radius: 50px;
  border: 0;
  padding: 20px;
  font-weight: 800;
  font-size: 20px;
}

.newsletter .but button:hover {
  background-color: #27292e;
}

.text {
  color: white;
}

.text-bold {
  font-weight: 900;
  font-size: larger;
  font-size: 35px;
}

.text-light {
  font-size: 20px;
}

.foot-grid {
  display: -ms-grid;
  display: grid;
  height: 30rem;
  background-color: #20232a;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.foot-grid .grids {
  border: 1px green solid;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #282c34;
}
/*# sourceMappingURL=index.css.map */