$MainNav_height: 5rem;

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman',Times,serif;

    
}

@function circumference($r){
    $pi: 3.141592653;
    @return 2*$pi*$r;
  }
  html,body {
    height:100%;
}
a{
    text-decoration: none;
}
// .makin {
//     display: flex;
//     flex-direction: column;
//     position: relative;
// }
// header {
//     position: relative;
//     // height: $MainNav_height;
//     overflow: hidden;

// }
.logo  {
    img {
    width: 80px;
    height: $MainNav_height;
}
}
.blab {
    height: $MainNav_height;
}
.nav{
    &__toggle {
        z-index: 10;
        outline: 0;
        position: absolute;
        background: transparent;
        display: inline-block;
        border-radius:50%;
        right: 26px;
        top: 15px;
        transition: background-color .15s linear;

        &:hover
         {
            background-color: rgba(158, 143, 143, 0.5);
        }
    }
&__menu {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    height: calc(100vh - #{$MainNav_height} );
    // height: 100vh;
    position: relative;
    padding: 0;
    z-index: 6;
    visibility: hidden;
    list-style-type: none;
}
&__item {
    opacity:0;
    transition: all .3s cubic-bezier(0.000, 0.995, 0.990, 1.000) .3s;
}
@for $i from 1 through 5 {
    &__item:nth-child(#{$i}){
        transform: translateY(-50px * $i);
    }
}
&__link {
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 1rem;

    &:hover {
        outline: 0;
        color: #1f0e0e;
        background-color: rgb(161, 97, 97);

    }

}
}
// .active {
//     outline: 0;
//     background-color: rgba(0,0,0,0.2);
// }
.menuicon {
    display: block;
    cursor: pointer;
    color: white;

    transform: rotate(0deg);
    transition: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);

    &__bar,
    &__circle {
        fill: none;
        stroke: currentColor;
        stroke-width: 3;
        stroke-linecap: round;
    }
    &__bar {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
        transition: transform .252s ease-in-out;
    }
    &__circle {
        transition: stroke-dashoffset .3s linear .1s;
        stroke-dashoffset: circumference(23);
        stroke-dasharray: circumference(23);
    }
}

.splash {
    position: absolute;
    top: 54px;
    right: 63px;
    width: 1px;
    height: 1px;
    &::after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
        background-color: rgb(41, 37, 39);

        width: 284vmax;
        height: 284vmax;
        top: -144vmax;
        left: -140vmax;

        transform: scale(0);
        transform-origin: 50% 50%;
        transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);

        will-change:transform;
    }
}

.nav--open {
    > .splash::after {
        transform: scale(1);
    }
    .menuicon {
        color: white;
        transform: rotate(180deg);
        &__circle {
            stroke-dashoffset: 0;
        }
        &__bar:nth-child(1),
        &__bar:nth-child(4){
            opacity: 0;
        }
        &__bar:nth-child(2){
            transform: rotate(45deg);
        }
        &__bar:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
    .nav {
        &__menu {
            visibility: visible;
        }
        &__item {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

// nav {
//     ul {

//             list-style-type: none;
//             padding: 0;
//             margin: 0;
//         }
//             li {
//                 padding: 10px 0;
//                 display: block;
//                 // position: absolute;
//                 text-align: center;
//                     &:hover{
//                         color: #1f0e0e;
//                         background-color: rgb(161, 97, 97);
//                     }

//                 a{
//                     // border:1px red solid;
//                     position: relative;
//                     font-size: 20px;
//                     width: 30rem;
//                     color:white;
        
//                 }
            
//     }
// }
// .mobil {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: greenyellow;
//     cursor: pointer;
// }
.Main-nav {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 63vw;
    background-color: rgb(41, 37, 39);
    height: $MainNav_height;
}
// .mob-nav {
//     background-color: rgb(41, 37, 39);
//     position: relative;
//     display: block;
//     overflow: hidden;
//     visibility: visible;
//     opacity: 1;
//     z-index: 5;
//     transition: visibility 2s, opacity 2s;
// }
// .dispNone {
// display: none;
// }
.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    .login {
        color: white;
        font-weight: 900;
        font-size: 20px;
    }
}
.active{
    outline: none;
    color: #1f0e0e;
    background-color: rgb(161, 97, 97);
}


footer {
    display: grid;
    grid-template-rows: 15vmin 1fr .1fr;
    margin-bottom: -50px;
}
.newsletter {
    background-color: #cfd3db;
    display: grid;
    grid-template-columns: 1fr 1fr;
.slog {
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
        > div {
            text-align: center;
        }
    }
.but {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        button {
            color: white;
            background-color: #1a2f5e;
            border-radius: 50px;
            border: 0;
            padding:2vmin;
            font-weight: 800;
            font-size: 2vmin;
            &:hover{
                                background-color: #27292e;
                cursor: pointer;

            }
            &:focus{
                outline: none;
            }

        }
        
    }
}
.text {
    color: white;
}
.text-bold {
    font-weight: 900;
    font-size: 2vmax;

}
.text-light {
    font-size: 2vmax;
    
}
.foot-grid {
    display: grid;
    // height: 32rem;
    background-color: #34333f;
    // grid-template-columns: 1fr 1fr 1fr;
    
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    .grids {
        // border: 1px green solid;
        margin: 10px;
        color: white;
    }
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
}
.contact {
    form {
        display: grid;
        input {
            &[type="submit"] {
                background-color: #1a2f5e;
                border-radius: 10px;
                border: 0;
                margin-top: 20px;
                width: 15vw;
                height: 50px;
                &:hover, &:focus {
                    cursor: pointer;    
                    outline: none;
                    background-color: #27292e;
                    box-shadow: 0 4px 8px 0 rgba(16, 22, 49, 0.432), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
        }
        label {
            
            div {
                margin-bottom: 5px;
                font-weight: 100;
                font-size: 20px;
                color: #ffffff;
                span {
                    color: red;
                }
            }
            input{
                position: relative;
                border-radius: 10px;
                border: 0;
                margin-bottom: 10px;
                width: 90%;
                height: 45px;
                font-size: 20px;
                padding: 0 12px;
                &:focus {
                    outline: none;
                    background-color: #b2bbcc;
                }
            }
        }
    }
}
.textarea {
    width: 96%;
    textarea {
        width: inherit;
        resize: none;
        border: 0;
        padding: 5px;
        font-size: 16px;
    &:focus {
        outline: none;
        background-color: #b2bbcc;
    }
}

}

@media only screen and (min-width: 922px) {
    header {
        position: relative;    
    }
    
    .mobil {
        display: none;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .Main-nav {
        border-bottom: 2px red solid;
        display: grid;
        grid-template-columns: .4fr 1fr .4fr;
        
    }
    
    
    nav {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
    
            ul {
    
                display: flex;
                margin: 0;
                height: inherit;
                list-style-type: none;
            
        }
        li {
            padding: 30px 0px;
            border: 0;
                margin: 0 2px;
    
            a {
                height: inherit;
                color: white;
                font-size: 1vw;
                letter-spacing: 1px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                padding: 30px;
                &:hover{
                    color: #1f0e0e;
                    border-bottom: 2px solid white;
                    background-color: rgb(161, 97, 97);
                }
    
            }
        }
    }
    
}
@media only screen and (max-width: 768px) {
    footer {
        grid-template-rows: 12vw 1fr .1fr;
    }
    
}