body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  overflow: hidden;
}

.logo-img {
  width: 80px;
  height: 5rem;
}

.blab {
  height: 5rem;
}

.nav__toggle {
  z-index: 10;
  outline: 0;
  position: absolute;
  background: transparent;
  display: inline-block;
  border-radius: 50%;
  right: 26px;
  top: 15px;
  -webkit-transition: background-color .15s linear;
  transition: background-color .15s linear;
}

.nav__toggle:hover, .nav__toggle:focus {
  background-color: rgba(158, 143, 143, 0.5);
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 5rem);
  position: relative;
  padding: 0;
  z-index: 6;
  visibility: hidden;
  list-style-type: none;
}

.nav__item {
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
  transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
}

.nav__item:nth-child(1) {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.nav__item:nth-child(2) {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.nav__item:nth-child(3) {
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
}

.nav__item:nth-child(4) {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.nav__item:nth-child(5) {
  -webkit-transform: translateY(-250px);
          transform: translateY(-250px);
}

.nav__link {
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem;
}

.nav__link:hover, .nav__link:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.menuicon {
  display: block;
  cursor: pointer;
  color: white;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menuicon__bar, .menuicon__circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}

.menuicon__bar {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform .252s ease-in-out;
  transition: -webkit-transform .252s ease-in-out;
  transition: transform .252s ease-in-out;
  transition: transform .252s ease-in-out, -webkit-transform .252s ease-in-out;
}

.menuicon__circle {
  -webkit-transition: stroke-dashoffset .3s linear .1s;
  transition: stroke-dashoffset .3s linear .1s;
  stroke-dashoffset: 144.51326;
  stroke-dasharray: 144.51326;
}

.splash {
  position: absolute;
  top: 54px;
  right: 63px;
  width: 1px;
  height: 1px;
}

.splash::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #368887;
  width: 284vmax;
  height: 284vmax;
  top: -144vmax;
  left: -140vmax;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06), -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  will-change: transform;
}

.nav--open > .splash::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav--open .menuicon {
  color: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav--open .menuicon__circle {
  stroke-dashoffset: 0;
}

.nav--open .menuicon__bar:nth-child(1), .nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}

.nav--open .menuicon__bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav--open .menuicon__bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav--open .nav__menu {
  visibility: visible;
}

.nav--open .nav__item {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.Main-nav {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .9fr;
      grid-template-columns: 1fr .9fr;
  background-color: #292527;
  height: 5rem;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth .login {
  color: white;
  font-weight: 900;
  font-size: 20px;
}

.onLink {
  color: #1f0e0e;
  background-color: #a16161;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6vw 1fr .1fr;
      grid-template-rows: 6vw 1fr .1fr;
  margin-bottom: -50px;
}

.newsletter {
  background-color: #cfd3db;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.newsletter .slog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}

.newsletter .slog > div {
  text-align: center;
}

.newsletter .but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.newsletter .but button {
  color: white;
  background-color: #1a2f5e;
  border-radius: 50px;
  border: 0;
  padding: 20px;
  font-weight: 800;
  font-size: 20px;
}

.newsletter .but button:hover {
  background-color: #27292e;
  cursor: pointer;
}

.text {
  color: white;
}

.text-bold {
  font-weight: 900;
  font-size: larger;
  font-size: 35px;
}

.text-light {
  font-size: 20px;
}

.foot-grid {
  display: -ms-grid;
  display: grid;
  background-color: #34333f;
  -ms-grid-columns: (minmax(340px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.foot-grid .grids {
  margin: 10px;
  color: white;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #282c34;
}

.contact form {
  display: -ms-grid;
  display: grid;
}

.contact form input[type="submit"] {
  background-color: #1a2f5e;
  border-radius: 10px;
  border: 0;
  margin-top: 20px;
  width: 15vw;
  height: 50px;
}

.contact form input[type="submit"]:hover, .contact form input[type="submit"]:focus {
  cursor: pointer;
  outline: none;
  background-color: #27292e;
  -webkit-box-shadow: 0 4px 8px 0 rgba(16, 22, 49, 0.432), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(16, 22, 49, 0.432), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact form label div {
  margin-bottom: 5px;
  font-weight: 100;
  font-size: 20px;
  color: #ffffff;
}

.contact form label div span {
  color: red;
}

.contact form label input {
  position: relative;
  border-radius: 10px;
  border: 0;
  margin-bottom: 10px;
  width: 90%;
  height: 45px;
  font-size: 20px;
  padding: 0 12px;
}

.contact form label input:focus {
  outline: none;
  background-color: #b2bbcc;
}

.textarea {
  width: 96%;
}

.textarea textarea {
  width: inherit;
  resize: none;
  border: 0;
  padding: 5px;
}

.textarea textarea:focus {
  outline: none;
  background-color: #b2bbcc;
}

@media only screen and (min-width: 922px) {
  .logo-img {
    width: 5rem;
    height: 78px;
  }
  header {
    position: relative;
  }
  .mobil {
    display: none;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Main-nav {
    border-bottom: 2px red solid;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .5fr 1fr .5fr;
        grid-template-columns: .5fr 1fr .5fr;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    height: inherit;
    list-style-type: none;
  }
  nav li {
    padding: 32px 0px;
    border: 0;
    margin: 0 2px;
  }
  nav li a {
    height: inherit;
    color: white;
    font-size: 1vw;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 32px;
  }
  nav li a:hover {
    color: #1f0e0e;
    border-bottom: 2px solid white;
    background-color: #a16161;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    -ms-grid-rows: 2vw 1fr .1fr;
        grid-template-rows: 2vw 1fr .1fr;
  }
}
/*# sourceMappingURL=mob.css.map */