body {
    z-index: 1;
    margin: 0;
    padding: 0;
}
html,body {
    height:100%;
}
a{
    text-decoration: none;
}
.logo-img {
    width: 40px;
    height: 45px;
}
nav {
    ul {

            list-style-type: none;
            padding: 0;
            margin: 0;
        }
            li {
                padding: 10px 0;
                display: block;
                // position: absolute;
                text-align: center;
                    &:hover{
                        color: #1f0e0e;
                        background-color: rgb(161, 97, 97);
                    }

                a{
                    // border:1px red solid;
                    position: relative;
                    font-size: 20px;
                    width: 30rem;
                    color:white;
        
                }
            
    }
}
.mobil {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    cursor: pointer;
}
.nav {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr .3fr .2fr;
    background-color: rgb(41, 37, 39);
}
.mob-nav {
    background-color: rgb(41, 37, 39);
    position: relative;
    display: block;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    z-index: 5;
    transition: visibility 2s, opacity 2s;
}
.dispNone {
display: none;
}
.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    .login {
        color: white;
        font-weight: 900;
        font-size: 20px;
    }
}
.onLink{
    color: #1f0e0e;
    background-color: rgb(161, 97, 97);
}


footer {
    display: grid;
    grid-template-rows: 6vw 1fr .1fr;
    margin-bottom: -50px;
}
.newsletter {
    background-color: #cfd3db;
    display: grid;
    grid-template-columns: 1fr 1fr;
.slog {
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
        > div {
            text-align: center;
        }
    }
.but {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        button {
            color: white;
            background-color: #1a2f5e;
            border-radius: 50px;
            border: 0;
            padding:20px;
            font-weight: 800;
            font-size: 20px;
            &:hover{
                background-color: #27292e;
                cursor: pointer;
            }

        }
        
    }
}
.text {
    color: white;
}
.text-bold {
    font-weight: 900;
    font-size: larger;
    font-size: 35px;

}
.text-light {
    font-size: 20px;
    
}
.foot-grid {
    display: grid;
    // height: 32rem;
    background-color: #34333f;
    // grid-template-columns: 1fr 1fr 1fr;
    
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    .grids {
        // border: 1px green solid;
        margin: 10px;
        color: white;
    }
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
}
.contact {
    form {
        display: grid;
        input {
            &[type="submit"] {
                background-color: #1a2f5e;
                border-radius: 10px;
                border: 0;
                margin-top: 20px;
                width: 15vw;
                height: 50px;
                &:hover, &:focus {
                    cursor: pointer;    
                    outline: none;
                    background-color: #27292e;
                    box-shadow: 0 4px 8px 0 rgba(16, 22, 49, 0.432), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
        }
        label {
            
            div {
                margin-bottom: 5px;
                font-weight: 100;
                font-size: 20px;
                color: #ffffff;
                span {
                    color: red;
                }
            }
            input{
                position: relative;
                border-radius: 10px;
                border: 0;
                margin-bottom: 10px;
                width: 90%;
                height: 45px;
                font-size: 20px;
                padding: 0 12px;
                &:focus {
                    outline: none;
                    background-color: #b2bbcc;
                }
            }
        }
    }
}
.textarea {
    width: 96%;
    textarea {
        width: inherit;
    resize: none;
    border: 0;
    padding: 5px;
    &:focus {
        outline: none;
        background-color: #b2bbcc;
    }
}

}

@media only screen and (min-width: 922px) {
    .logo-img {
        margin-top: 2px;
        width:4rem;
        height:70px;
    }
    .mobil {
        display: none;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav {
        border-bottom: 2px red solid;
        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        
    }
    
    
    nav {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
    
            ul {
    
                display: flex;
                margin: 0;
                height: inherit;
            
        }
        li {
            padding: 32px 0px;
            border: 0;
                margin: 0 2px;
    
            a {
                height: inherit;
                color: white;
                font-size: 1.3vw;
                // border: 1px green solid;
                font-weight: bold;
                padding: 32px;
                &:hover{
                    color: #1f0e0e;
                    border-bottom: 2px solid white;
                    background-color: rgb(161, 97, 97);
                }
    
            }
        }
    }
    
}
@media only screen and (max-width: 768px) {
    footer {
        grid-template-rows: 2vw 1fr .1fr;
    }
    
}